<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Title</title>
</head>

<body style="background-color: #999999">
<div style="height: 55px"></div>
<div class="main">
    <div style="height: 30px"></div>
    <header>
        <div style="height: 35px;"></div>
        <p>Good Life</p>
    </header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Comment</a></li>
            <li><a href="">Write</a></li>
            <li><a href="">ArticleList</a></li>
            <li><a href="">AddNav</a></li>
            <li><a href="">Exit</a></li>
        </ul>
    </nav>
    <div style="height: 50px"></div>
    <div class="articlelist">
        <div class="login">
            <form action="../../login.php" method="post">
                <p>Login</p>
                <input type="text" name="username" placeholder="username">
                <input type="text" name="password" placeholder="password">
                <input type="text" name="email" placeholder="email">
                <button name="submit" id="submit" >Submit</button>
                <!--<input type="submit" name="submit" value="注册" id="last_input">-->
                <a href="../../register.php" value="注册" id="last_input">注册</a>
            </form>
        </div>
    </div>

    <footer>
        <div class="footer_1"><p>Contact Us</p></div>
        <div class="footer_2"><p>
            Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.<br>
            Website : sc.chinaz.com<br>
            +1 (123) 444-5677<br>
            +1 (123) 444-5678<br>
            Address: 123 TemplateAccess Rd1</p>
            <div style="height: 40px"></div>
        </div>
    </footer>
    <div style="height: 40px;"></div>
</div>
<div style="height: 40px;"></div>
</body>
</html>